<%- include("partials/header"); -%>

<body>
  <section class="masthead" style="background-image: url('img/phone-img.png');">
    <header>
      <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
          <div class="text-center">
            <!-- <h1 class="mx-auto my-0 text-uppercase logo-heading"><img class="main-logo" src="img/brandmark-design.png" alt=""></h1> -->
            <h2 class="h2 mx-auto mt-2 mb-5">Your Local Web Design and SEO Professional</h2>
            <a class="btn-1 btn btn-primary contact-btn" href="#signup">Contact Me</a>
          </div>
        </div>
      </div>
    </header>
  </section>
  <!-- About-->
  <section class="about-section" id="about">

    <div class="columns-about">
      <div class="rounded float-left">
        <h2 class="text-white mb-4 card-title mission-statement">Our Mission</h2>
        <p class="text-white-50 about-text">
          Whether you’re looking to increase your leads or generate more sales, our Colorado based Website Design Agency can do it all. We build your website with the end goal in mind.
          Our websites not only drive leads and generate sales, but emphasize converting your visitors into customers.
        </p>
      </div>
      <!-- <div class="rounded img-div float-end">
              <img class="grey-scale img-me img-fluid" src="img/me-pic-final.png" alt="..." />
        </div> -->
    </div>
  </section>
</body>


<%- include("partials/footer"); -%>
